In [67]:
import pandas as pd
import sqlalchemy as sql
import pyads
import pymssql
import pypyodbc as odbc
from sklearn import preprocessing
from sklearn.decomposition import PCA

In [68]:
#plc = pyads.Connection('5.119.159.52.1.1', pyads.PORT_TC3PLC1)

#plc.open()

In [69]:
#plc.read_by_name('GVL.EL3443.MDP5001_341_Input.MDP5001_341_L1_Basic_Voltage')

In [70]:
#plc.close()

In [71]:
Driver = 'SQL SERVER'
Server = 'AYO-NB8'
Database = 'PyADS'

connection_string = f"""
    DRIVER={{{Driver}}};
    SERVER={Server};
    Database={Database};
    Trust_Connection=yes
"""
conn = odbc.connect(connection_string)

In [72]:
#query = "INSERT INTO EL3443 (id, fVoltage, fCurrent, fAcPower, fApPower, fRePower, fPWF, fFreq) VALUES (?, ?, ?, ?, ?, ?, ?, ?)"
#val = (4, 1, 1, 1, 1, 1, 1, 1)

#cursor.execute(query, val)
#conn.commit()

In [73]:
cursor = conn.cursor()
new_query = "SELECT * FROM EL3443"
cursor.execute(new_query)
#result = cursor.fetchall()
data = pd.DataFrame(cursor, columns=[i[0] for i in cursor.description])

In [74]:
conn.close()

In [75]:
data = data.set_index('id')
data = data.round(5)
data.head()

     fvoltage  fcurrent  facpower  fappower  frepower     fpqf     ffreq
id
1   242.70419  -0.00879  -0.02732   2.13449   2.13431  0.99669  50.03192
2   242.58784  -0.00880  -0.05119   2.13561   2.13499  0.99666  50.03098
3   242.71318  -0.00881  -0.04505   2.13930   2.13883  0.99666  50.02882
4   242.69908  -0.00884  -0.04965   2.14597   2.14539  0.99666  50.02789
5   242.76039  -0.00879  -0.06500   2.13498   2.13399  0.99666  50.02518

In [76]:
data.describe()

,fvoltage,fcurrent,facpower,fappower,frepower,fpqf,ffreq
count,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000,394.000000
mean,242.280475,-0.008857,-0.045259,2.145936,2.145413,0.996647,49.968373
std,0.424530,0.000089,0.014154,0.019535,0.019432,0.000107,0.018630
min,241.151180,-0.009130,-0.087090,2.092820,2.092580,0.996410,49.930250
25%,241.995250,-0.008920,-0.054710,2.131438,2.131098,0.996550,49.958230
50%,242.357665,-0.008850,-0.045095,2.146130,2.145715,0.996660,49.966390
75%,242.629975,-0.008790,-0.034587,2.159698,2.159127,0.996730,49.977542
max,243.039900,-0.008630,-0.009690,2.203490,2.203080,0.996810,50.031920

In [77]:
#data['fvoltage'].plot(kind='kde')

In [78]:
#preprocessing.normalize(data.iloc[:,[0,1,2,3,4,5,6]])

In [79]:
pca = PCA()
pca.fit(data)
pca.explained_variance_ratio_

array([9.94320763e-01, 3.32055529e-03, 1.48399389e-03, 8.74653237e-04,
       2.52674635e-08, 9.24905455e-09, 4.19759278e-11])

In [80]:
pd.DataFrame(pca.components_, columns=data.columns)

   fvoltage  fcurrent  facpower  fappower  frepower      fpqf     ffreq
0 -0.999234 -0.000130 -0.013210  0.022721  0.022437 -0.000185 -0.018356
1  0.028454 -0.002807 -0.149110  0.681139  0.678151 -0.000953  0.230452
2 -0.024811  0.000708 -0.048561 -0.168587 -0.169740 -0.000752  0.969429
3  0.010292  0.000346 -0.987427 -0.084238 -0.104990 -0.000724 -0.082232
4  0.000170 -0.005309  0.002232  0.063322 -0.064237 -0.995907 -0.000888
5 -0.000005 -0.002877  0.014707  0.704263 -0.704021  0.090237  0.000013
6  0.000036 -0.999978 -0.000010 -0.004426  0.000304  0.005029  0.000018