In [146]:
import pandas as pd
import sqlalchemy as sql
import pyads
import pymssql
import pypyodbc as odbc

ImportError: cannot import name 'URL' from 'sqlalchemy' (C:\Users\AyoO\AppData\Local\anaconda3\lib\site-packages\sqlalchemy\__init__.py)

In [118]:
plc = pyads.Connection('5.119.159.52.1.1', pyads.PORT_TC3PLC1)

plc.open()

In [119]:
plc.read_by_name('MAIN.EL3443.MDP5001_341_Input.MDP5001_341_L1_Basic_Voltage')

238.81834411621094

In [120]:
plc.close()

In [121]:
#Provider=SQLOLEDB;Data Source=AYO-NB8;Initial Catalog=PyADS;Integrated Security=SSPI;

#sql_engine = create_engine('mssql+pyodbc://NT+AUTHORITY%5CSYSTEM@AYO-NB8:1433/PyADS?driver=ODBC+Driver+18+for+SQL+Server')
#sql_engine

In [122]:
Driver = 'SQL SERVER'
Server = 'AYO-NB8'
Database = 'PyADS'

connection_string = f"""
    DRIVER={{{Driver}}};
    SERVER={Server};
    Database={Database};
    Trust_Connection=yes
"""
conn = odbc.connect(connection_string)

In [123]:
cursor = conn.cursor()

query = "INSERT INTO EL3443 (id, fVoltage, fCurrent, fAcPower, fApPower, fRePower, fPWF, fFreq) VALUES (?, ?, ?, ?, ?, ?, ?, ?)"
val = (3, 1, 1, 1, 1, 1, 1, 1)

cursor.execute(query, val)
conn.commit()

In [124]:
new_query = "SELECT * FROM EL3443"
cursor.execute(new_query)
result = cursor.fetchall()
for x in result:
    print(x)

(1, None, None, None, None, None, None, None)
(2, None, None, None, None, None, None, None)
(3, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0)

In [125]:
conn.close()